<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout}">
	<th:block layout:fragment="content">
		<section class="login-wrapper">
			<div class="login-container">
				<h1>LMS 학습관리시스템</h1>
				<p>로그인 또는 회원가입을 해주세요.</p>
				<form th:action="@{/user/login}" method="post">
				  	<input type="text" placeholder="이메일" name="username" id="username" required>
				  	<input type="password" placeholder="비밀번호" name="password" id="password" required>
				  	<button type="submit" class="login-btn">로그인</button>
				</form>
		    	<div class="signup-options" style="text-align: center;">
		      		<a class="signup-btn" th:href="@{|/user/signup|}">회원가입</a>
		      		<div class="text-center">
                        <a class="small" href="forgot-password.html">아이디 찾기</a>
                    </div>
		      		<div class="text-center">
                        <a class="small" th:href="@{|/user/tempPassword|}">비밀번호 찾기</a>
                    </div>
		     		<div class="oauth-buttons">
			       		 <button class="oauth-btn" id="kakao-login">
			         		 <img src="kakao-icon.png" alt="Kakao Login">
			        	</button>
				        <button class="oauth-btn" id="google-login">
				          <img src="google-icon.png" alt="Google Login">
				        </button>
		      		</div>
		    	</div>
	  		</div>
  		</section>
	</th:block>
</html>
<script layout:fragment="script" type="text/javascript">
    $(document).ready(function() {
		//임시 비밀번호를 성공적으로 넘기면 얼럿창을 띄어준다.
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('success')) {
            alert('임시 비밀번호가 성공적으로 전송되었습니다.');
        }
    });
</script>