<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout}">
	<th:block layout:fragment="content">
		<div class="wrapper">
		    <section id="sign" class="container">
		        <h2 class="title">회원가입</h2>
<!-- 		        <h4>전체 필수 입력 값입니다.</h4> -->
		        <form th:action="@{/user/signup}" method="post" id="joinForm">
		            <div class="input_box">
		                <input type="email" id="email" name="email" placeholder="이메일">
		                <button type="button" onclick="idChk()">중복확인</button>
		            </div>
		            <div class="input_box">
		                <input type="password" oninput="pwChk();" id="pwd" name="password1" placeholder="비밀번호">
		            </div>
		            <div class="input_box">
		                <input type="password" oninput="pwChk();" id="pwd_check" name="password2" placeholder="비밀번호 확인">
						<p id="pwConfirm" style="display: none;"></p>
						<p>비밀번호는 영문, 숫자, 특수기호를 포함되게 입력하세요.</p>
		            </div>
		            <div class="input_box" >
		                <input type="text" name="name"id="name" placeholder="이름">
		            </div>
		            <div class="input_box">
		                <input type="text" name="tellNumber" id="phone" placeholder="전화번호">
		                <p>-를 빼고 입력해주세요.</p>
		            </div>
		           <!-- <div>
		
		                <label for="roll">
		                    수강생
		                    <input type="radio" name="roll">
		                </label>
		                <label for="roll">
		                    강사
		                    <input type="radio" name="roll">
		                </label>
		            </div>-->
		            <button type="submit" id="joinBtn" class="button">회원가입</button>
		            <button type="button" onclick="location.href='/../user/login'" class="button">돌아가기</button>
		        </form>
		    </section>
	    </div>
		<script>
			//아이디 중복 체크 ajax
			function idChk(){
				let email = $('#email').val();
									
				$.ajax({
					type : "POST",
					url : "/user/emailCheck",
					data : {email: email},
					success : function(result){
						if(result === "true") {
							alert("사용 가능한 이메일입니다.")
						} else {
							alert("이미 사용 중인 이메일입니다.")
						}
					}, error: function(){
						alert("이메일 중복체크 중 오류가 발생했습니다.")
					}
				});
			}
							
			//비밀번호 입력체크
			function pwChk(){
			    let pwInput = document.getElementById('pwd');
			    let pwChkInput = document.getElementById('pwd_check');
				
				// 비밀번호 입력 필드가 공백인 경우
				if (pwInput.value.trim() === '' || pwChkInput.value.trim() === '') {
				    $('#pwConfirm').text('비밀번호를 입력해 주세요.').css('color', 'red').css('display', 'block');
				    return false;
				}
				
			    if(pwInput.value == pwChkInput.value) {
			    	$('#pwConfirm').text('비밀번호 일치').css('color', 'green').css('display', 'block');
			    	return true;
			    }else{
			    	$('#pwConfirm').text('비밀번호 불일치').css('color', 'red').css('display', 'block');
			    	
			    	return false;        
			    }
			};
			$(document).ready(function() {
				//폼 제출 이벤트 핸들러
				$('#joinForm').on('submit', function(e) {
					let pwChkInput = $('#pwd_chk');
				  if(!pwChk()) {
				    e.preventDefault();
				    alert('비밀번호가 일치하지 않습니다.');
				    pwChkInput.focus();
				  }
				});
				
				//인풋 정보 없으면 회원가입 막기
				$('#joinBtn').click(function(e){
				    let input1 = $('#email').val();
				    let input2 = $('#pwd').val();
				    let input3 = $('#phone').val();
				    let input4 = $('#name').val();
				    if(input1.trim() === '' || input2.trim() === '' || input3.trim() === '' || input4.trim() === ''){
				        e.preventDefault(); 
				        alert('정보를 입력해주세요.');
				    }
				});
			});
		</script>
	</th:block>
</html>







