<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{layout}">
    
    
<th:block layout:fragment="content">
	<div id="wrap">
	    <div id="content" class="videoViewer">
	    	<!-- 데이터 히든으로 받아오기 -->
	    	<div style="display: none">
	    		<input id="videoId" hidden="hidden" th:value="${video.id}">
	    		<input id="userId" hidden="hidden" th:value="${user.id}">
				<input id="watchingTime" hidden="hidden" th:value="${userVideo.watchingTime}">
	    	</div>
	    	<!-- 비디오 영상 -->
			<div class="video">
				<div id="player" class="url-link" th:data-url="${video.url}"></div>
				<div id="playerTime" th:data-time="${videoTime ?: 0}"></div>
				<div class="pre-next-btn">
					<a th:href="@{|/video/viewer/${video.id}/pre|}" class="pre-btn btn">이전</a>
					<a th:href="@{|/video/viewer/${video.id}/next|}" class="next-btn btn">다음</a>
				</div>
			</div>
			<!-- 사이드바 -->
			<div id="nav2">
				<ul class="tab_area" >
					<li class="curriculum">
		        		<div class="view_tit">
		        			<h2>커리큘럼</h2>
		        			<button type="button">X</button>
        				</div>
			        	<div class="lec_info">
			        		<h4>[[${lecture.title}]]</h4>
			        		<div style="display: flex; gap: 10px;">
			        			<span>전체 강의 학습율 : </span>
								<div th:each="entry : ${progressMap.entrySet()}" th:if="${entry.key.lecture.id == lecture.id}">
							        <div class="course-progress" th:each="progress : ${entry.value.entrySet()}" style="display: flex; align-items: center;">
							            <div class="progress-bar">
							                <div class="progress-fill" th:style="'width:' + (${progress.value * 100.0 / progress.key}) + '%'"></div>
							            </div>
							            <span class="progress-text" th:text="${progress.value != null ? (progress.value * 100.0 / progress.key == 0 ? '0' : #numbers.formatDecimal((progress.value * 100.0 / progress.key), 0, 1)) : '0'} + '%'"></span>
							        </div>
							    </div>
						    </div>
			        	</div>
			        	<ul class="lec_list">
			        		<li th:each="entry : ${videoMap.entrySet()}">
			        			<a th:href="@{|/video/viewer/${entry.key.id}|}" th:data-watching-time="${entry.value.watchingTime ?: 0}">
				        			<strong class="lec_tit">[[${entry.key.title}]]</strong>
				        			<span style="display: flex">
					        			<span class="VideoTime" data-time="${entry.value.watchingTime}">[[${entry.value.watchingTime ?: 0}]]</span>
					        			<span>/</span>
					        			<span class="VideoTime" data-time="${entry.key.duration}">[[${entry.key.duration}]]</span>
				        			</span>
				        			<span>
									    진행율 : [[${entry.value.watchingTime != null ? (entry.value.watchingTime * 100.0 / entry.key.duration >= 99 ? '100' : #numbers.formatDecimal((entry.value.watchingTime * 100.0 / entry.key.duration), 0, 1)) : '0'}]]%
									</span>
			        			</a>
			        		</li>
			        	</ul>
			        </li>
			        <li style="display: none;">
			        	<div class="note_area">
							<div>
								<div class="view_tit">
				        			<h2>노트</h2>
				        			<button type="button">X</button>
		        				</div>
					            <!-- 노트 리스트 창 열기 -->
					            <ul id="notesContainer">
					                <li th:each="note : ${noteList}">
				                        <span th:text="${note.content}"></span>
				                        <span class="VideoTime" th:text="${note.videoTime}" data-time="${note.videoTime}"></span>
					                </li>
					            </ul>
					        </div>
					        <div class="editor_wrap">
				        		<div id="editor"></div>
		    					<button id="saveButton">저장</button>
					        </div>
						</div>
			        </li>
			        <li style="display: none">
			        	<div class="view_tit">
		        			<h2>커뮤니티</h2>
		        			<button type="button">X</button>
        				</div>
			        </li>
			    </ul>
			    <div class="side_menu">
			        <div>
			        	<button>커리큘럼</button>
			        </div>
			        <div>
			            <button id="noteLink">강의노트</button>
			        </div>
			        <div>
			        	<button>커뮤니티</button>
		        	</div>
			    </div>
			</div>
	    </div>
	</div>
	<script>
		// 사용자 및 비디오 데이터를 전역 변수로 저장
        let userId = $('#userId').val();
        let videoId = $('#videoId').val();
        let savedWatchingTime = $('#watchingTime').val();

		window.onload = function(){
			
			let player;
			let lastUpdateTime = 0;
			
	        // YouTube IFrame API 준비 완료 시 호출되는 함수
	        window.onYouTubeIframeAPIReady = function() {
				const playerElement = document.getElementById('player');
				const videoUrl = playerElement.dataset.url;
				
				const playerTimeElement = document.getElementById('playerTime');
				const videoTime = parseInt(playerTimeElement.dataset.time, 10);
				
				player = new YT.Player('player', {
	                height: '100%',
	                width: '100%',
	                videoId: videoUrl, // 예제 비디오 ID
	                playerVars: {
	                    'autoplay': 1, // 자동재생 설정
	                    'start': videoTime
	                },
					events:{
						'onStateChange': onPlayerStateChange // 비디오 상태 변화 이벤트 핸들러 추가
					}
	            });
	        }
	        
	        //영상 데이터 저장하기
			function onPlayerStateChange(event) {
				if(event.data == YT.PlayerState.ENDED){
					saveUserVideo();
				}else if (event.data == YT.PlayerState.PLAYING) {
					setInterval(updateWatchingTime, 5000); // 5초마다 시청 시간 업데이트
				}
			}
			
			function updateWatchingTime() {
				const currentTime = player.getCurrentTime();
				if (currentTime - lastUpdateTime >= 5) { // 5초 이상 차이가 나면 업데이트
					saveUserVideo();
					lastUpdateTime = currentTime;
				}
			}

			function saveUserVideo() {
				const videoLength = player ? player.getDuration() : 0;
				const watchingTime = player ? player.getCurrentTime() : 0;
				const watchedPercentage = (watchingTime / videoLength) * 100;
				
				const videoData = {
					userId: userId,
					videoId: videoId,
					watched: watchedPercentage >= 80,
					watchedAt: new Date().toISOString(),
					watchingTime: watchingTime
				};
				
				
				$.ajax({
					type: "POST",
					url: "/userVideo/save",
					data: JSON.stringify(videoData),
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					success: function (response) {
						//alert("User video saved successfully");
						console.log("User video saved successfully", response);
					},
					error: function (xhr, status, error) {
						//alert("Error saving user video");
						// console.error("Error saving user video", error);
						// console.log("XHR:", xhr);
            			// console.log("Status:", status);
					}
				});
			}

			window.addEventListener('beforeunload', function(event) {
				saveUserVideo();
			});
			
	        onYouTubeIframeAPIReady();
	        
     		// 전역 스코프에 player 변수를 저장
			window.player = player;
		};
	</script>
	<script layout:fragment="script" type="text/javascript">
			// 초를 "분:초" 형식으로 변환하는 함수
			function formatTime(seconds) {
				const minutes = Math.floor(seconds / 60);
				const remainingSeconds = seconds % 60;
				return `${minutes}:${remainingSeconds < 10 ? '0' : ''}${remainingSeconds}`;
			}
	
			$(document).ready(function() {
		    
		   
		    
			// 커리큘럼 클릭 시 저장된 영상 시간으로 이동
			$('.lec_list > li > a').click(function(e) {
		        e.preventDefault(); // 기본 링크 동작 방지
		        
		        const videoId = $(this).attr('href').split('/').pop(); // URL에서 video ID 추출
		        const savedWatchingTime = $(this).data('watching-time'); // 저장된 시청 시간 가져오기
		        
		        // 새로운 URL로 이동하면서 저장된 시청 시간 전달
		        window.location.href = `/video/viewer/${videoId}?time=${savedWatchingTime}`;
		    });
			
			
			// 노트의 시간을 변환하여 표시
			$('.VideoTime').each(function() {
				const videoTime = parseInt($(this).text(), 10);
				$(this).text(formatTime(videoTime));
				$(this).attr('data-time', videoTime);
			});
			
			// 노트 클릭시 비디오 영상 시간으로 이동
// 			$('#notesContainer li').click(function(e){
// 				const videoTime = parseInt($(this).find('.VideoTime').attr('data-time'), 10);
// 				window.player.seekTo(videoTime, true);
// 			});
			
			// 노트 클릭 시 비디오 영상 시간으로 이동
		    $(document).on('click', '#notesContainer li', function(e) {
		        const videoTime = parseInt($(this).find('.VideoTime').attr('data-time'), 10);
		        if (typeof player !== 'undefined' && player !== null && typeof player.seekTo === 'function') {
		            player.seekTo(videoTime, true);
		        } else {
		            console.log('Player is not ready or seekTo is not available');
		        }
		    });
			
			// 강의 영상 사이드 메뉴
			let tab_area = $('.tab_area > li');
			let tabAbtn = $('.side_menu > div > button');
			
			//tab_area.eq(0).show();
			
			tabAbtn.each(function (index, item) {
				$(this).click(function () {					
					tab_area.hide();
					tab_area.eq(index).show();
				});
			});
	
		    // Toast UI Editor 초기화
		    const editor = new toastui.Editor({
		        el: document.querySelector('#editor'),
		        height: 'calc(100% - 30px)',
		        initialEditType: 'markdown',
		        previewStyle: 'tab'
		    });
	
		 	// 노트 저장 버튼 클릭 시
		    $(document).on('click', '#saveButton', function() {
		        console.log('Save button clicked');
		        const content = editor.getMarkdown();
		        const videoId = $('#videoId').val();
		        
		        console.log('Content:', content);
		        console.log('Video ID:', videoId);

		        let videoTime = 0;
		        if (typeof player !== 'undefined' && player !== null) {
		            videoTime = player.getCurrentTime();
		        }
		        console.log('Video Time:', videoTime);

		        // 노트가 생성될 DOM 요소를 미리 준비
		        const noteElement = createNoteElement('저장 중...', '');
		        $('#notesContainer').append(noteElement);

		        // 노트를 서버에 저장
		        saveNoteToServer(videoId, content, videoTime, noteElement, editor);

		        editor.reset();
		    });
	
		    // 노트 삭제 버튼 클릭 시
// 		    $(document).on('click', '.delete-link', handleNoteDelete);
		});
	
		// 새로운 노트 DOM 요소 생성 함수
// 		function createNoteElement(content, videoTime) {
// 		    return $('<li>').html(`
// 		        <div>
// 		            <span>${content}</span>
// 		            <span>${videoTime}</span>
// 		        </div>
// 		    `);
// 		}
		
		// 수정된 코드
		function createNoteElement(content, formattedTime) {
		    return $('<li>').html(`
		        <span>${content}</span>
		        <span class="VideoTime" data-time="${formattedTime}">${formattedTime}</span>
		    `);
		}
	
		// 서버에 노트 저장 함수
// 		function saveNoteToServer(videoId, content, videoTime, noteElement, editor) {
// 		    $.ajax({
// 		        url: `/note/create/${videoId}`,
// 		        method: 'POST',
// 		        contentType: 'application/json',
// 		        data: JSON.stringify({ content: content, videoTime: videoTime }),
// 		        success: function(newNote) {
// 		            updateNoteElement(noteElement, newNote);
// 		            editor.setMarkdown(''); // 입력 필드 초기화
// 		        },
// 		        error: function(xhr, status, error) {
// 		            noteElement.find('p').text('노트 작성 실패');
// 		            console.error('노트 작성 실패:', error);
// 		        }
// 		    });
// 		}
		
		function saveNoteToServer(videoId, content, videoTime, noteElement, editor) {
		    $.ajax({
		        url: `/note/create/${videoId}`,
		        method: 'POST',
		        contentType: 'application/json',
		        data: JSON.stringify({ content: content, videoTime: videoTime }),
		        success: function(newNote) {
		            updateNoteElement(noteElement, newNote);
		            editor.setMarkdown(''); // 입력 필드 초기화
		        },
		        error: function(xhr, status, error) {
		            noteElement.find('span:first').text('마 영상 재생해라');
		            // console.error('노트 작성 실패:', error);
					// console.log("XHR:", xhr);
            		// console.log("Status:", status);
		        }
		    });
		}
	
		// 노트 DOM 요소 업데이트 함수
// 		function updateNoteElement(noteElement, note) {
// 		    noteElement.find('span:first-child').text(note.content);
// 		    noteElement.find('.VideoTime')
// 				.text(formatTime(note.videoTime) || '')
// 				.attr('data-time', note.videoTime); // 비디오 시간이 없을 경우 빈 문자열로 처리
// 		    noteElement.attr('data-note-id', note.id);
// 		    noteElement.find('.delete-link').attr('data-note-id', note.id);
// 		}
	
		function updateNoteElement(noteElement, note) {
		    noteElement.find('span:first').text(note.content);
		    const formattedTime = formatTime(note.videoTime);
		    noteElement.find('.VideoTime')
		        .text(formattedTime)
		        .attr('data-time', note.videoTime);
		    noteElement.attr('data-note-id', note.id);
		}
		
		// 기존 노트를 DOM에 추가하는 함수
		function addNoteToDOM(note) {
		    const noteElement = createNoteElement(note.content, note.videoTime);
		    noteElement.attr('data-note-id', note.id);
		    noteElement.find('.delete-link').attr('data-note-id', note.id);
		    $('#notesContainer').append(noteElement);
		}

	</script>

</th:block>
</html>
