<div id="header2" style="display: flex;">
    <div>
        <button>강의 대시보드</button>
    </div>
    <div>
        <p>[[${video.title}]]</p>
    </div>
    <div>
        <button>학습알림</button>
    </div>
</div>
<div id="wrap">
    <div id="content" style="display: flex;">
		<div>
			<iframe width="1280" height="720" 
				th:src="${video.url}" 
				th:title="${video.title}" 
				frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				referrerpolicy="strict-origin-when-cross-origin" 
				allowfullscreen>
			</iframe>
		</div>
        <div id="nav2">
            <div><a href="">커리큘럼</a></div>
            <div><a href="">커뮤니티</a></div>
            <div><a href="">강의노트</a></div>
            <div><a href=""></a></div>
        </div>
    </div>
</div>