<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div id="wrap">
        <div id="container">
            <div id="header" style="display: flex; align-items: center; justify-content: space-between;">
                <img src="lms_logo.png" style="width: 100px;">
                <div>
                    <a style="background-color: grey;">강의</a>
                    <a style="background-color: grey;">강의</a>
                    <a style="background-color: grey;">강의</a>
                </div>
                <div>
                    <a style="background-color: grey;">강의</a>
                    <img src="profile.png" alt="프로필">
                </div>
            </div>