<header id="header" class="normal_header">
	<div class="wrapper">
	    <a th:href="@{|/|}" class="logo">
			<img src="/images/newLogo.png">
		</a>
	    <nav class="gnb">
	        <a th:href="@{|/|}">강의</a>
	        <a th:href="@{|/question/list|}">질문 게시판</a>
	        <a th:href="@{||}">공지사항</a>
	    </nav>
		<ul class="util">
			<li sec:authorize="isAuthenticated">
	        	<a th:href="@{|/my/dashboard|}" class="dashBtn">대시보드</a>
			</li>
			<li sec:authorize="isAuthenticated()">
                <a href="javascript:void(0)" class="my">
                	<span th:text="${userName} + '님'"></span>
<!--                 	<span>[[${#authentication.principal.username}]] 님</span> -->
                </a>
				<div class="dropMenu" style="display: none;">
					<ul>
						<li><i class="fa-solid fa-book"></i><a th:href="@{|/my/list|}">내 학습</a></li>
						<li><i class="fa-solid fa-clipboard"></i><a th:href="@{|/note/list|}">강의노트</a></li>
						<li><i class="fa-solid fa-chart-pie"></i><a th:href="@{|/my/dashboard|}">대시보드</a></li>
						<li><i class="fa-solid fa-user"></i><a th:href="@{|/user/mypage|}">마이페이지</a></li>
					</ul>
				</div>
            </li>
			<li>
				<a class="nav-link" sec:authorize="isAnonymous" th:href="@{/user/login}">로그인</a>
				<a class="nav-link" sec:authorize="isAuthenticated" th:href="@{/user/logout}">로그아웃</a>
			</li>
			<li sec:authorize="isAnonymous">
				<a class="nav-link" th:href="@{/user/signup}">회원가입</a>
			</li>
		</ul>
	</div>
	<script layout:fragment="script" type="text/javascript">
		$(document).ready(function() {
			let dropMenu = $('.dropMenu');
			let my = $('.my');
			
			my.click(function(){
				dropMenu.fadeToggle();
			});
		});
	</script>
</header>
