<header id="header" style="display: flex; align-items: center; justify-content: space-between;">
    <img src="lms_logo.png" style="width: 100px;">
    <div>
        <a style="background-color: grey;">강의</a>
        <a style="background-color: grey;">강의</a>
        <a style="background-color: grey;">강의</a>
    </div>
    <div>
        <a style="background-color: grey;">강의</a>
        <img src="profile.png" alt="프로필">
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		<li class="nav-item">
		   <a class="nav-link" sec:authorize="isAnonymous" th:href="@{/user/login}">로그인</a>
		   <a class="nav-link" sec:authorize="isAuthenticated" th:href="@{/user/logout}">로그아웃</a>
		</li>
		<li class="nav-item" sec:authorize="isAnonymous">
		   <a class="nav-link" th:href="@{/user/signup}">회원가입</a>
		</li>
		<li class="nav-item" sec:authorize="isAuthenticated()">
		        <div>
		           <span>[[${#authentication.principal.username}]]</span><span>님</span>
		        </div>
		    </li>
<!-- 		<li sec:authorize="isAuthenticated()"> -->
<!-- 		   <a th:href="@{/user/changePassword}">비밀번호 변경하기</a> -->
<!-- 		</li> -->
	</ul>
</header>
