<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>학습관리시스템</title>
		<!-- css -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
		<th:block layout:fragment="script"></th:block>
		<!-- jQuery CDN -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>
		<div id="wrap">
			<div id="container">
				<!--<nav th:replace="~{navbar :: navbar}"></nav>-->		
				<header th:replace="~{header :: header}"></header>
				<th:block layout:fragment="content"></th:block>
				<footer th:replace="~{footer :: footer}"></footer>
			</div>
		</div>
	</body>
</html>