<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout}">
<th:block layout:fragment="content">
	    <section>
	        <div>
	            <div><h2>리스트 제목</h2></div>
	            <!-- 검색영역 -->
	            <div>
	                <input type="text" placeholder="검색">
	                <button type="button">검색</button>
	            </div>
	        </div>
	        <div>
	            <table>
	                <caption>리스트 테이블</caption>
	                <thead>
	                    <tr>
	                        <th>No</th>
	                        <th>제목</th>
	                        <th>등록일</th>
	                        <th>수정일</th>
	                        <th>영상등록</th>
	                        <th>수정</th>
	                        <th>삭제</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <!-- 루프 -->
	                    <tr th:each="lecture, loop : ${lecture}">
							<td>[[${loop.index + 1}]]</td>
							<td>
								<a th:href="@{|/video/list/${lecture.id}|}">
									[[${lecture.title}]]
								</a>
							</td>
							<td>[[${lecture.content}]]</td>
							<td>[[${lecture.createDate}]]</td>
							<td><a class="btn register" th:href="@{|/video/addVideo/${lecture.id}|}">영상 등록</a></td>
							<td><a th:href="@{|/lecture/modify/${lecture.id}|}" class="btn modify">수정</a></td>
							<td><a th:href="@{|/lecture/remove/${lecture.id}|}" class="btn remove">삭제</a></td>
						</tr>
	                </tbody>
	            </table>
	        </div>
	        <div>
	            <button type="button" class="btn register" onclick="location.href='/lecture/regist'">등록</button>
	        </div>
	    </section>
	</th:block>
</html>