<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout}">

	<th:block layout:fragment="content">
		<div>
			<h3 th:text="${question.title}">제목</h3>
			<p th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm:ss')}">생성일</p>
			<p th:text="${question.content}">내용</p>
		</div>
		
		<div>
			<a th:href="@{|/question/modify/${question.id}|}"
				class="btn btn-sm btn-outline-secondary"
				sec:authorize="isAuthenticated()"
				th:if="${question.author != null and #authentication.getPrincipal().getName() == question.author.getName}"
				th:text="수정"></a>
		</div>
		
		<h4 th:text="'답변' + |${#lists.size(answerList)}|"></h4>
		<div>
			<ul>
				<li th:each="answer : ${answerList}">
					<a th:text="${answer.author.name}"></a>
					<form th:action="@{|/answer/modify/${answer.id}|}" method="post" th:if="${#authentication.name == answer.author.name}">
					    <input name="content" class="answerInput" th:value="${answer.content}" readonly style="border:none; outline:none;">
					    <button th:attr="data-id=${answer.id}" class="mod_btn" type="button"><i class="fa-regular fa-pen-to-square"></i></button>
					    <button th:attr="data-id=${answer.id}" type="submit">수정</button>
						<a th:href="@{|/answer/delete/${answer.id}|}"><i class="fa-solid fa-xmark"></i></a>
					</form>
				</li>
			</ul>
		</div>
		<form th:action="@{|/answer/create/${question.id}|}" th:object="${answerCreateForm}" method="post" sec:authorize="isAuthenticated()">
			<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
				<div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
			</div>
			<textarea th:field="*{content}" rows="10"></textarea>
			<input type="submit" value="답변 등록">				
		</form>
	<a th:href="@{|/question/delete/${question.id}|}"
		class="btn btn-sm btn-outline-secondary"
		sec:authorize="isAuthenticated()"
		th:if="${question.author != null and #authentication.getPrincipal().getName() == question.author.getName}"
		th:text="삭제">삭제
	</a>
	<button type="button" value="취소" class="btn" onclick="window.history.back();">취소</button>
	<script>
		$(document).ready(function() {
			$('.mod_btn').click(function() { 
				let input = $(this).parent().find('.answerInput');
				if(input.prop("readonly")) {
					input.prop("readonly", false);
					input.css("border", "1px solid black");
				} else {
					input.prop("readonly", true);
					input.css("border", "none");
				}
			});
		});

	</script>
	</th:block>
</html>