<include>헤더</include>
<div id="content">
    <!-- 강의이미지 -->
    <img src="lec_id.png" alt="강의이미지">
    <!-- 강의 간략 설명 -->
    <div style="background-color: aqua;">
        <div id="title">
            <h5><span>BEST</span>카테고리 > 상세분류</h5>
            <h4>강의제목</h4>
        </div>
        <!-- 평점, 수강인원, 강사 -->
        <div>
            <div>
                <span>별점(4.8)</span>
                <span>n개의 수강평</span>
                <span>n명의 수강생</span>
                <span>강사명</span>
            </div>
            <button type="button">수강하기</button>
        </div>
    </div>

    <section style="background-color: black;">
        <div style="background-color: yellowgreen;">
            <h3>강의 소개</h3>
            <p>~~ 강의 입니다.</p>
            <p>강의 설명</p>
        </div>

        <div style="background-color: violet;">
            <h3>커리큘럼</h3>
            <span>총 n개, m시간의 수업</span>
            <button>모두펼치기</button>

            <ul>
                <li>
                    <span>n강</span>
                    <span>제목</span>
                    <span>2개의 영상 - 20분</span>
                </li>
            </ul>
        </div>

    </section>
    
    <!-- 수강평 -->
    <section>
    
    </section>

    <!-- 리뷰 -->
    <section style="background-color: blue;">

        <div>
            <span>VIEW</span>
            <input type="radio" name="recent" id="review"><span>최신순</span>
            <input type="radio" name="recent" id="review"><span>높은평점순</span>
            <input type="radio" name="recent" id="review"><span>낮은평점순</span>
            <div>
                <ul>
                    <li>
                        <span>수강생이름</span>
                        <span>점수</span>
                        <p>좋은 강의 감사요</p>
                        <span>등록 날짜</span>
                    </li>
                </ul>
            </div>
        </div>

    </section>

</div>
<include>풋터</include>