<div id="content">
    <section>
        <div>
            <h2>Dashboard</h2>
        </div>
        <div style="display: flex;">

            <div id="recent_lec" style="background-color: red;">
                <div>
                    <h5>최근 학습한 강의</h5>
                    <a href="">학습목록</a>
                </div>
                <ul>
                    <li>
                        <img src="adf.jpng" alt="재생이미지">
                        <div>
                            <span>제목</span>
                            <span>진행률</span>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="month_check" style="background-color: green;">
                <div>
                    <h5>월간 학습 현황</h5>
                    <a href="">목표설정</a>
                </div>
                <div>
                    <input type="date" name="" id="">
                    달력
                </div>
            </div>

        </div>

    </section>

    <section>
        <div style="display: flex;">

            <div id="exp_log" style="background-color: blue;">
                <div>
                    <h5>성장 로그</h5>
                    <a href="">전체보기</a>
                </div>
                <ul>
                    <li>
                        <div>
                            <span>제목 + 수강완료!</span>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="note" style="background-color: yellow;">
                <div>
                    <h5>최근노트</h5>
                    <a href="">전체보기</a>
                </div>
                <ul>
                    <li>
                        <div>
                            <span>제목</span>
                            <span>내용</span>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

    </section>

</div>