<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout}">
<th:block layout:fragment="content">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div id="content">
    <section class="wrapper">

        <div class="mypage_wrap">
			<div class="mypage_nav">
				<ul>
					<li><a class="active" href="/my/dashboard">대시보드</a></li>
					<li><a href="/note/list">노트</a></li>
					<li><a href="/my/question">질문</a></li>
					<li><a href="/my/list">강의</a></li>
				</ul>
			</div>
			
			<div class="dash">
				
				<div class="dash_info_wrap">
		
					<div id="recent_lec">
						<div>
							<h5>최근 학습한 강의</h5>
							<a href="">학습목록</a>
						</div>
						<ul>
							<li th:each="userLecture : ${userLectureList}">
								<a href="#" th:text="${userLecture.lecture.title}"></a>
							</li>
						</ul>
					</div>
		
					<div id="weekly_check">
						<div>
							<h5>주간 학습 현황</h5>
						    <button id="prevWeek">이전 주</button>
						    <button id="nextWeek">다음 주</button>
						</div>
						<canvas id="weeklyWatchChart"></canvas>
<!-- 						<div> -->
<!-- 							<input type="date" name="" id=""> -->
<!-- 							달력 -->
<!-- 						</div> -->
					</div>
		
				</div>
		
				<div class="dash_info_wrap">
		
					<div id="exp_log">
						<div>
							<h5>성장 로그</h5>
							<a href="">전체보기</a>
						</div>
						<ul>
							<li>
								<div>
									<span>제목 + 수강완료!</span>
								</div>
							</li>
						</ul>
					</div>
		
					<div id="note">
						<div>
							<h5>최근노트</h5>
							<a href="">전체보기</a>
						</div>
						<ul>
							<li th:each="note : ${noteList}">
								<a th:href="@{|/note/list/${note.video.lecture.id}|}">
									<span th:text="${#strings.length(note.content) > 10 ? note.content.substring(0, 10) + '...' : note.content}"></span>
									<span th:text="${#temporals.format(note.createDate, 'yyyy-MM-dd HH:mm')}"></span>
								</a>
							</li>
						</ul>
					</div>
		
				</div>
				
				<div class="dash_info_wrap">
		
					<div id="exp_log">
						<div>
							<h5>성장 로그</h5>
							<a href="">전체보기</a>
						</div>
						<ul>
							<li>
								<div>
									<span>제목 + 수강완료!</span>
								</div>
							</li>
						</ul>
					</div>
		
					<div id="question">
						<div>
							<h5>최근질문</h5>
							<a href="">전체보기</a>
						</div>
						<ul>
							<li th:each="question : ${questionList}">
								<a th:href="@{|/|}" th:text="${question.title}"></a>
							</li>
						</ul>
					</div>
		
				</div>
				
			</div>
		</div>
    </section>

    <script th:inline="javascript">
        var weeklyWatchCount = /*[[${weeklyWatchCount}]]*/ {};
        var weekOffset = /*[[${weekOffset}]]*/ 0;
        var labels = Object.keys(weeklyWatchCount);
        var data = Object.values(weeklyWatchCount);

        var ctx = document.getElementById('weeklyWatchChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: '시청한 영상 수',
                    data: data,
                    backgroundColor: 'rgba(75, 192, 192, 0.6)'
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1
                        }
                    }
                },
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: '주간 영상 시청 현황'
                    }
                }
            }
        });

        document.getElementById('prevWeek').addEventListener('click', function() {
            window.location.href = '/my/dashboard?weekOffset=' + (weekOffset + 1);
        });

        document.getElementById('nextWeek').addEventListener('click', function() {
            if (weekOffset > 0) {
                window.location.href = '/my/dashboard?weekOffset=' + (weekOffset - 1);
            }
        });
    </script>

</div>
</th:block>
</html>