<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout}">
	<th:block layout:fragment="content">
		<div id="content">
			<div class="wrapper">
			    <section>
		            <div class="course-list">
				        <div>
				            <div><h2>리스트 제목</h2></div>
				            <!-- 검색영역 -->
				            <div>
				                <input type="text" placeholder="검색">
				                <button type="button">검색</button>
				            </div>
				        </div>
					    <div class="course-item" th:each="entry, loop : ${userVideoList.entrySet()}">
					        <div class="course-title">
					            <span class="course-number" th:text="${loop.index + 1}"></span>
					            <a th:href="@{|/video/viewer/${entry.key.id}|}" th:text="${entry.key.title}"></a>
					        </div>
					        <div class="course-details">
					            <div class="course-progress">
					                <div class="progress-bar">
					                    <div class="progress-fill" th:style="'width:' + ${entry.key.duration == 0 ? '0%' : (#numbers.formatDecimal((entry.value.watchingTime * 100.0 / entry.key.duration), 0, 1) + '%')}"></div>
					                </div>
					                <span class="progress-text" th:text="${entry.key.duration == 0 ? '0%' : (#numbers.formatDecimal((entry.value.watchingTime * 100.0 / entry.key.duration), 0, 1) + '%')}"></span>
					            </div>
					        </div>
					    </div>
					</div>
			    </section>
		    </div>
		</div>
	</th:block>
</html>