<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout}">
	<th:block layout:fragment="content">
		<div id="content">
			<div class="wrapper">
			    <section>
			        <div>
			            <div><h2>리스트 제목</h2></div>
			            <!-- 검색영역 -->
			            <div>
			                <input type="text" placeholder="검색">
			                <button type="button">검색</button>
			            </div>
			        </div>
			        <div>
			            <table class="tbl">
			                <caption>리스트 테이블</caption>
			                <thead>
			                    <tr>
			                        <th style="width: 10%">No</th>
			                        <th style="width: 50%">제목</th>
			                        <th style="width: 10%">등록일</th>
			                        <th style="width: 10%">수정일</th>
			                        <th style="width: 10%">수정</th>
			                        <th style="width: 10%">삭제</th>
			                    </tr>
			                </thead>
			                <tr th:each="video, loop : ${videoList}">
			                	<td>[[${loop.index + 1}]]</td>
						        <td><a th:href="@{|/video/viewer/${video.id}|}" th:text="${video.title}"></a></td>
						        <td>진행률 그래프</td>
						    </tr>
			            </table>
			        </div>
			        <div>
			            <button type="button">등록</button>
			        </div>
			    </section>
		    </div>
		</div>
	</th:block>
</html>