<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout}">
    
	<th:block layout:fragment="content">
		<div class="wrapper">
			<section class="notice_form">
				
				<form th:object="${noticeCreateForm}" method="post">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<!--//오류 메세지 표시-->
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
						<div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
					</div>
					
					<div class="input_box">
						<label for="title" class="form-label">제목</label>
						<input type="text" th:field="*{title}" class="form-control">
					</div>
					<div class="input_box">
						<label for="content" class="form-label">내용</label>
						<textarea th:field="*{content}" class="form-control" rows="10"></textarea>
					</div>
					<div class="btn_box">
						<button type="submit" value="등록" class="btn">등록</button>
						<button type="button" value="취소" class="btn" onclick="window.history.back();">취소</button>
					</div>
				</form>
			</section>
		</div>			
	</th:block>
</html>