<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout}">
	<th:block layout:fragment=content>
		<div id="content">
		    <!-- 검색섹션 === S -->
		    <section class="wrapper search">
				<h3>인프런에서 가치를 높이세요</h3>
		        <div class="search_input">
		            <input type="text" placeholder="배우고 싶은 지식을 입력하세요.">
		            <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
		        </div>
		    </section>
		    <!-- 검색섹션 === E -->
		    <!-- 강의 리스트 === S -->
		    <section class="wrapper">
          
		        <div class="tit" style="margin-bottom: 20px;"><h2>강의 리스트</h2></div>
		        
				<div class="container-fluid">
					<div class="row row-cols-3 grid-gap-3">
						<div class="col" th:each="lecture, loop : ${lecture}">
							<div class="card">
								<img class="thumnail" th:src="${lecture.thumnailUrl}" alt="썸네일이미지">
								<div class="card-subtitle d-flex align-items-center flex-sm-column">
									<a th:href="@{|/lecture/detail/${lecture.id}|}" class="text-lg text-gray-700">[[${lecture.title}]]</a>
									<input type="hidden" id="lecId" th:value="${lecture.id}">
									<a th:href="@{|/lecture/startlearn/${lecture.id}|}" id="reglec" class="text-gray-700" th:data-lecture-id="${lecture.id}">수강신청</a>
								</div>
							</div>
						</div>
					</div>
				</div>
		        
		        <div class="paging" style="width: 100%; height: 30px; margin-top: 40px; background: purple;"></div>

		    </section>
		    <!-- 강의 리스트 === E -->
		</div>
			
		
		<script>
// 			$('#reglec').click(function(e) {
// 				const lecId = $('#lecId').val();
	
// 				$.ajax({
// 					url: '/my/lecCheck',
// 					type: 'GET',
// 					data: {lecId: lecId},
// 					success: function(result){
// 						if(result === "false"){
// 							e.preventDefault();
// 							alert('이미 수강 신청한 강의입니다.');
// 						}else{
// 							$.ajax({
// 			                    url: '/lecture/startlearn/' + lecId,
// 			                    type: 'GET',
// 			                    success: function() {
// 			                        alert('수강 신청 되었습니다.');
// 			                        // 필요하다면 페이지 새로고침 또는 UI 업데이트
// 			                    },
// 			                    error: function() {
// 			                        alert('수강신청 중 오류가 발생했습니다.');
// 			                    }
// 			                });
// 						}
// 					}, error: function(){
// 						e.preventDefault();
// 						alert('수강신청 중 오류가 발생했습니다.');
// 					}
// 				});
// 			});
		</script>
	</th:block>
</html>


