<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout}">
	<th:block layout:fragment="content">
		<div id="content">
		    <!-- 검색섹션 === S -->
		    <section class="wrapper search">
				<h3>인프런에서 가치를 높이세요</h3>
		        <div class="search_input">
		            <input type="text" placeholder="배우고 싶은 지식을 입력하세요.">
		            <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
		        </div>
		    </section>
		    <!-- 검색섹션 === E -->
		    <!-- 강의 리스트 === S -->
		    <section class="wrapper">
		        <div class="tit"><h2>강의 리스트</h2></div>
		        <ul class="lecture_list">
		            <li th:each="lecture : ${lecture}">
						<div style="background: #000;">
							<!--<img th:src="@{||}">-->
						</div>
						<div>
							<h4>[[${lecture.title}]]</h4>
							<span>starPoint</span>
							<span class="price">무료</span>
							<a th:href="@{|/lecture/startlearn/${lecture.id}|}">시작하기</a>
						</div>
					</li>
		        </ul>
		        <div class="paging" style="width: 100%; height: 30px; background: purple;"></div>
		    </section>
		    <!-- 강의 리스트 === E -->
		</div>
	</th:block>
</html>


